$semihighlight: #727272;

body {
  background-color: #181818;
  color: #9f9f9f;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

.navbar {
  margin-bottom: 1rem;

  .navbar-brand {
    color: #bbb;
    font-weight: 300;
    margin: 0 auto;

    span {
      color: $semihighlight;
    }

    &:hover span {
      color: lighten($semihighlight, 20%);
    }
  }
}

.salogo {
  display: block;
  fill: #292B2C;
  margin: 2rem auto;
  max-width: 80px;
}
