$fontcolor: #bbb;
$semihighlight: #727272;

body {
  background-color: #181818;
  color: $fontcolor;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

a {
  color: #0275d8;

  &:hover, &:focus {
    color: #0275d8;
  }
}

.navbar {
  .navbar-brand {
    color: $fontcolor;
    font-weight: 300;
    margin: 0 auto;

    span {
      color: $semihighlight;
    }

    &:hover span {
      color: lighten($semihighlight, 20%);
    }
  }
}

.timeline-container {
  background-image: image_url("chain.png");
  background-position: 16px 0;
  background-repeat: repeat-y;
  background-size: 12px;
  padding: 1rem 15px 3rem 55px;
}

.timeline-event {
  margin-top: 1.5rem;
  position: relative;

  .icon {
    background-color: #292B2C;
    border-radius: 24px;
    border: 1px solid #727272;
    font-size: 22px;
    height: 43px;
    left: -54px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    width: 43px;
  }

  h2 {
    line-height: 1.4;
  }

  .metadata {
    font-weight: 100;
  }
}

footer {
  background-color: #292B2C;
  padding: 2rem 0;

  .salogo {
    display: block;
    fill: #181818;
    max-width: 80px;
  }
}
